
.display-numbers{
    height: 30vh;
}

.col{
    padding: 30px!important;
    border: 1px solid #e3f2fd ;
}

.display-numbers{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.controlBtns{
    color: white;
}